

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: 1.5rem;
  font-family: Roboto, Ubuntu, sans-serif;
  text-align: center;
  background: #15202B;
  color: #F7B860;
}

h1{
  margin: 2.5rem;
}

